.cp-container {
  max-width: 960px;
  margin: auto;
  overflow: hidden;
  padding: 4rem 1rem;
}

.car-page-body {
background-color: #333;

.showcase {
  &.ferrari {
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/ferrari/showcase-bg.jpg') no-repeat center center/cover;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: -1;
    filter: blur(0px);
  }

  .loading-text {
    color: #fff;
    font-size: 4rem;
  }

  .showcase-content {
    display: none;

    &.show {
      display: inline;
    }

    h1{
      color: #fff;
      font-size: 2.6rem;
      text-transform: uppercase;
      text-align: center;
      span{
        color: $ferrari-red;
      }
    }
  }
}

.beginnings-section {

}

.quote-section {

  &.ferrari {
    height: 70vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('../images/ferrari/enzo.jpeg') no-repeat center center/cover;
    position: relative;
    color: #f4f4f4;
  }

  .cp-container {
    display: flex;
    height: 100%;

    .quote-wrapper {
      margin: auto;
      text-align: center;

      .quote {
        font-size: 2rem;
        font-weight: 300;
        padding: .3rem;
        position: relative;
      }
      .quote-by {
        display: block;
        text-align: center;
        margin-top: 2rem;
      }
    }
  }
}

.footer {
  background: #000;
  height: 4rem;
  .social-links {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 3rem;

    a {
      margin-right: 1rem;
      color: #fff;
      transition: all .2s ease-in-out;

      &:hover {
        color: $ferrari-red;
      }
    }
  }
}
}