@import 'config';
@import 'lambo';
@import 'ferrari';

// Main Landing Page - index.html
body {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  // overflow: hidden;
  background-color: #000;

  .container {
    position: relative;
    width: 100%;
    height: 100%;
    background: #000;

    .split.right,
    .split.left,
    .split.right::before,
    .split.left::before {
      transition: all $speed ease-in-out;
    }

    .split {
      position: absolute;
      width: 50%;
      height: 100%;
      overflow: hidden;

      &::before {
        content: '';
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: $overlay-color;
      }

      &.left {
        left: 0;
        background: url('../images/lamborghini/lamborghini-logo.jpg');
        background-repeat: no-repeat;
        background-size: 45rem 50rem;
        background-position: center;

        & .btn:hover {
          background-color: $lambo-yellow;
          border-color: $lambo-yellow;
          color: #000;
        }
      }
      &.right {
        right: 0;
        background: url('../images/ferrari/ferrari-logo.jpg');
        background-repeat: no-repeat;
        background-size: 45rem 50rem;
        background-position: center;



        & .btn:hover {
          background-color: $ferrari-red;
          border-color: $ferrari-red;
          color: #000;
        }
      }

      h1 {
        font-size: 4rem;
        color: #fff;
        position: absolute;
        left: 50%;
        top: 20%;
        transform: translateX(-50%);
        white-space: nowrap;
      }

      .btn {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        left: 50%;
        top: 40%;
        transform: translateX(-50%);
        text-decoration: none;
        color: #fff;
        border: #fff solid .2rem;
        font-size: 1rem;
        font-weight: bold;
        text-transform: uppercase;
        width: 15rem;
        padding: 1.5rem;
      }
    }
  }

  .hover-left {
    .left {
      width: $hover-width;
    }
    .right {
      width: $other-width;
    }
  }

  .hover-right {
    .right {
      width: $hover-width;
    }
    .left {
      width: $other-width;
    }
  }
}

@import 'media';